
.contenedor {
  margin-top: 20px;
}

.icono-help {
  font-size: 15px !important;
  color: grey;
  position: relative;
  top: 1px;
}

.menu-periodo {
  padding-left: 10px;
  margin-left: 10px;
}

.MuiList-padding li {
  padding: 2px 5px 2px 5px !important;
}

.footer-button > span {
  justify-content: flex-start;
}

.panel-footer {
  width: 100% !important;
  background-color: #e4e4e4 !important;
  padding: 20px;
  margin-top: auto;
}

.contenedor-delitos {
  margin-block-end: 1.5rem;
}

.contenedor-visualizacion {
  display: flex;
  flex-wrap: wrap;
}

.contenedor-visualizacion h4 {
  flex: 0 0 100%;
  margin-block-start: 0;
}

.Pane2 {
  z-index: 998;
}

.Pane2 * {
  font-family: Chanewei !important;
}

.snackbar {
  z-index: 999 !important;
}
