.feature_info {
    padding: 0 5px 1px 5px;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 13px;
    line-height: 1.5;
}

.marker-properties .key{
    font-weight: bold;
}

.marker-properties .property{
    margin-top: 1px;
}

.metadata{
    margin-top: 9px;
    color: rgb(145, 145, 145);
    max-height: 80px;
    overflow: hidden;
}


.metadata .fuente span{
    font-weight: bold;    
}

.marker-properties .ultima-actualizacion span{
    font-weight: bold;
}
