/* QUICK FIX*/
.MuiExpansionPanelSummary-root.Mui-expanded {
    min-height: 50px !important;
}

    /*  Fonts
    /*  Chanewei
* ======================================================================= */

    @font-face {
        font-family: "CHANEWEI";
        src: url("./CHANEWEI.eot");
        src: url("./CHANEWEI.eot?#iefix") format("embedded-opentype"),
            url("./CHANEWEI.svg#Gotham") format("svg"),
            url("./CHANEWEI.woff") format("woff"),
            url("./CHANEWEI.ttf") format("truetype");
        font-weight: normal;
        font-style: normal;
    }

    /*  Bootstrap Icons
* ======================================================================= */
    @font-face {
        font-family: 'Glyphicons Halflings';
        src: url("./glyphicons-halflings-regular.eot");
        src: url("./glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"),
            url("./glyphicons-halflings-regular.woff") format("woff"),
            url("./glyphicons-halflings-regular.ttf") format("truetype"),
            url("./glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
    }

    /*  BAstrap Icons
* ======================================================================= */
    @font-face {
        font-family: "bastrap-icons";
        src: url("./bastrap-icons.eot");
        src: url("./bastrap-icons.eot?#iefix") format("embedded-opentype"),
            url("./bastrap-icons.woff") format("woff"),
            url("./bastrap-icons.ttf") format("truetype"),
            url("./bastrap-icons.svg#bastrap-icons") format("svg");
        font-weight: normal;
        font-style: normal;
    }


    /* open-sans-regular - latin */
    @font-face {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        src: url('./opensans-regular.eot');
        /* IE9 Compat Modes */
        src: local('Open Sans Regular'), local('OpenSans-Regular'),
            url('./opensans-regular.eot?#iefix') format('embedded-opentype'),
            /* Super Modern Browsers */
            url('./opensans-regular.woff') format('woff'),
            /* Modern Browsers */
            url('./opensans-regular.ttf') format('truetype'),
            /* Safari, Android, iOS */
            url('./opensans-regular.svg#OpenSans') format('svg');
        /* Legacy iOS */
    }

    /* open-sans-800 - latin */
    @font-face {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 800;
        src: url('./opensans-bold.eot');
        /* IE9 Compat Modes */
        src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'),
            url('./opensans-bold.eot?#iefix') format('embedded-opentype'),
            
            /* Super Modern Browsers */
            url('./opensans-bold.woff') format('woff'),
            /* Modern Browsers */
            url('./opensans-bold.ttf') format('truetype'),
            /* Safari, Android, iOS */
            url('./opensans-bold.svg#OpenSans') format('svg');
        /* Legacy iOS */
    }
