{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grafico TimeLine</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'grafico/styles.css'%}">
    <!-- font para despues agregar texto -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap" rel="stylesheet">
    <!-- js del grafico -->
    <script src='https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js'></script>
</head>
<body>
    <canvas id=chart>
        </canvas>
<script>
    const chart = document.getElementById('chart').getContext('2d');

    const data = {
        labels: {{ datos_x | safe }},
        datasets: [
            {
                label: "{{ leyendas.0 }}",
                // RELLENO
                fill: false,
                lineTension: 0,
                {% if color1.1 %}
                    backgroundColor: {{ color1 | safe }},
                    borderColor: {{ color1 | safe }},//"rgb(196,196,196)",
                {% else %}
                    backgroundColor: "{{ color1.0 }}",
                    borderColor: "{{ color1.0}}",//"rgb(196,196,196)",
                {% endif %}
                borderCapStyle: 'butt',
                borderDash: [],
                borderDashOffset: 0.0,
                borderJoinStyle: 'miter',
                pointBorderColor: "rgba(75,192,192,1)",
                pointBackgroundColor: "#FABB14",
                pointBorderWidth: 1,
                pointHoverRadius: 5,
                pointHitRadius: 0,
                data: {{ datos_y }}
            },
        ]}

    const options = {
        legend: {
            display: true
        },
        scales: {
            // EJE Y
            yAxes: [{
                scaleLabel: {
                    labelString: "{{label_y.0}}",
                    display:true
                },

                // REFERENCIAS
                ticks: {
                    display: true,
                    min:0
                },
                // GRILLA
                gridLines: {
                    display:true
                }
            }],
            // EJE X
            xAxes: [{
                scaleLabel: {
                    labelString: "{{label_x}}",
                    display:true
                },
                // REFERENCIAS
                ticks: {
                    display: true
                },
                // GRILLA
                gridLines: {
                    display:true
                },
            }],
        },
        layout: {
            padding: {
                left: 0,
                right: 7,
                top: 0,
                bottom: 0
            }
        }
    }

    let dataChart = new Chart(chart,
    {
        type:"{{tipo_grafico.0}}",
        data:data,
        options:options


    }
    );
</script>
</body>
</html>