{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grafico TimeLine</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'grafico/styles.css'%}">
    <!-- font para despues agregar texto -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap" rel="stylesheet">
    <!-- js del grafico -->
    <script src='https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js'></script>
</head>
<body>
    <canvas id=chart>
        </canvas>
<script>
    const chart = document.getElementById('chart').getContext('2d');

    const data = {
        labels: {{ datos_x | safe }},
        datasets: [
            {
                label: "{{ leyendas.0 }}",
                // RELLENO
                fill: false,
                lineTension: 0.3,
                {% if color1.1 %}
                        backgroundColor: {{ color1 | safe }},
                        borderColor: {{ color1 | safe }},
                    {% else %}
                        backgroundColor: "{{ color1.0 }}",
                        borderColor: "{{ color1.0}}",
                {% endif %}
                borderCapStyle: 'butt',
                borderDash: [],
                borderDashOffset: 0.0,
                borderJoinStyle: 'miter',
                pointBorderColor: "{{color1.0}}",
                pointBackgroundColor: "{{color1.0}}",
                pointBorderWidth: 1,
                pointHoverRadius: 5,
                pointHitRadius: 0,
                data: {{ datos_y | safe }},
                order: 3,
                yAxisID: 'default',
            },
            {% if datos_y2 %}
                {
                label: "{{ leyendas.1 }}",
                // RELLENO
                fill: false,
                lineTension: 0.3,
                backgroundColor: "{{ color2 }}",
                borderColor: "{{ color2 }}",//"rgb(196,196,196)",
                borderCapStyle: 'butt',
                borderDash: [],
                borderDashOffset: 0.0,
                borderJoinStyle: 'miter',
                pointBorderColor: "{{color2}}",
                pointBackgroundColor: "{{color2}}",
                pointBorderWidth: 1,
                pointHoverRadius: 5,
                pointHitRadius: 0,
                data: {{ datos_y2 }},
                type: "{{ tipo_grafico.1 }}",
                order: 2,
                {% if label_y.1 %}
                yAxisID: 'second',
                {% else %}
                yAxisID: 'default',
                {% endif %}
            },
            {% endif %}
            {% if datos_y3 %}
            {
                label: "{{ leyendas.2 }}",
                // RELLENO
                fill: false,
                lineTension: 0.3,
                backgroundColor: "{{ color3 }}",
                borderColor: "{{ color3 }}",//"rgb(196,196,196)",
                borderCapStyle: 'butt',
                borderDash: [],
                borderDashOffset: 0.0,
                borderJoinStyle: 'miter',
                pointBorderColor: "{{color3}}",
                pointBackgroundColor: "{{color3}}",
                pointBorderWidth: 1,
                pointHoverRadius: 5,
                pointHitRadius: 0,
                data: {{ datos_y3 }},
                order: 1,
                type: "{{ tipo_grafico.2 }}"
            }
            {% endif %}
        ]}

    const options = {
        legend: {
            display: true
        },
        scales: {
            // EJE Y
            yAxes: [
                    {
                        id:'default',
                        scaleLabel: {
                            labelString: "{{ label_y.0 }}",
                            display:true
                        },

                        // REFERENCIAS
                        ticks: {
                            display: true,
                            min:0,
                        },
                        // GRILLA
                        gridLines: {
                            display:true
                        }
                    },
                    {% if label_y.1 %}
                    {
                        id: 'second',
                        scaleLabel: {
                            labelString: "{{ label_y.1 }}",
                            display:true,

                        },
                        // REFERENCIAS
                        ticks: {
                            display: true,
                            min:0,
                            max:100,
                            
                        },
                        // GRILLA
                        gridLines: {
                            display:true,
                        },
                        position:'right'
                    }
                    {% endif %}
            ],
            // EJE X
            xAxes: [{
                scaleLabel: {
                    labelString: "{{label_x}}",
                    display:true
                },
                // REFERENCIAS
                ticks: {
                    display: true
                },
                // GRILLA
                gridLines: {
                    display:false
                },
            }],
        },
        layout: {
            padding: {
                left: 0,
                right: 7,
                top: 0,
                bottom: 0
            }
        }
    }

    let dataChart = new Chart(chart,
    {
        type:"{{tipo_grafico.0}}",
        data:data,
        options:options
    }
    );
</script>
</body>
</html>