{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Covid en Datos</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'grafico/styles.css'%}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <!-- font para despues agregar texto -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap" rel="stylesheet">
    <!-- js del grafico -->
    <script src='https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.7.0"></script>

  </head>
  <body>
  <canvas id=chart9></canvas>
</body>
<script type="text/javascript">

const options9 = {
   plugins: {
           
            datalabels: {
                display: true,
                color:'white',
                 font: {
                  weight:'bold',
                  size: 18
                }
             
            }
        },

    legend: {
        display: true
    },
    scales: {
        // EJE Y
        yAxes: [{
            scaleLabel: {
            
                display:false
            },

            // REFERENCIAS
            ticks: {
                display: false,
            },
            // GRILLA
            gridLines: {
                display:false
            }
        }],
        // EJE X
        xAxes: [{
            scaleLabel: {
               
                display:false
            },
            // REFERENCIAS
            ticks: {
                display: false
            },
            // GRILLA
            gridLines: {
                display:false
            },
        }],
    },
    layout: {
        padding: {
            left: 0,
            right: 0,
            top: 0,
            bottom: 0
        }
    },
    tooltips: {
            callbacks: {
                label: function(tooltipItem, data) {
                    var valorTotal ={{ suma }};
                    var value = ((data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index]*100)/valorTotal).toFixed(2) + '%';

                    return value;
                }
            }
        }
}

const chart9 = document.getElementById('chart9').getContext('2d');

//datos de chart 
const data9 = {
    datasets: [{
      label: "Género",
        data: {{ datos_y }},
        backgroundColor: ["#974EAD","#2EBC97"]
    }],
    // These labels appear in the legend and in the tooltips when hovering different arcs
    labels: {{ leyendas | safe }}
};
let dataChart9 = new Chart(chart9,
{
    {% if isMobile %}
        type:'pie',
    {% else %}
        type:'doughnut',
    {% endif %}
    data:data9,
    options:options9


});
</script>