.header-marca {
    color: #222;
    opacity: 0.95;
    background-color:black !important;
    color: #585656 !important;
    background-image: -webkit-linear-gradient(left, #fdd306, #eae8b6 50%, #00b9f1) -webkit-linear-gradient(
          left,
          #fdd306,
          #00b9f1
        ),
      -webkit-linear-gradient(left, #fdd306, #00b9f1);
    background-image: -o-linear-gradient(
          left,
          #fdd306 0,
          #eae8b6 50%,
          #00b9f1 100%
        ) -o-linear-gradient(to right, #fdd306 0, #eae8b6 50%, #00b9f1 100%),
      -o-linear-gradient(to right, #fdd306 0, #eae8b6 50%, #00b9f1 100%);
    /*background-image: -webkit-gradient(linear,left top,right top,from(#fdd306),color-stop(50%,#eae8b6),to(#00b9f1)),-webkit-gradient(linear,left top,right top,from(#fdd306),color-stop(50%,#eae8b6),to(#00b9f1));*/
    background-image: -webkit-linear-gradient(left, #fdd306, #eae8b6 50%, #00b9f1),
      -webkit-linear-gradient(left, #fdd306, #eae8b6 50%, #00b9f1);
    background-image: -o-linear-gradient(
        left,
        #fdd306 0,
        #eae8b6 50%,
        #00b9f1 100%
      ),
      -o-linear-gradient(left, #fdd306 0, #eae8b6 50%, #00b9f1 100%) !important;
    background-image: linear-gradient(90deg, #fdd306 0, #eae8b6 50%, #00b9f1),
      linear-gradient(90deg, #fdd306 0, #eae8b6 50%, #00b9f1);
    background-size: 100% 4px;
    background-position: 0 0, 0 -4px;
    background-repeat: no-repeat;
  }
  
  .header-title {
    font-size: 19px;
    font-family: Chanewei;
    font-weight: normal;
    margin: auto;
    line-height: 20px;
    color: white;
  }