
#map {
  height: 100%;
  min-height: 100vh;
}

.topMenu {
  position: fixed;
  right: 23px;
  top: 10px;
  z-index: 998;
  display: inline-flex;
  
}

.bottomMenu {
  position: fixed;
  right: 23px;
  bottom: 10px;
  z-index: 998;
  display: inline-flex;
}

.minimap-layer{
  cursor: pointer;
  position: relative;
  width: 80px;
  height: 80px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  box-sizing: border-box;
  box-shadow: 0 0 5px #000;
}

.minimap-title-container{
  display: table;
  width: 100%;
  background: rgba(255,255,255,0.6);
  height: 25%;
  padding: 0;
  border: 0;
  position: absolute;
  bottom: 5%;
  transition: bottom .35s ease;
}

.minimap-title{
  display: table-cell;
  vertical-align: middle;
}



.map-popup {
  font-size: 1rem;
}

.map-popup * {
  padding: 0;
  margin: 0;
}

.map-popup h1 {
  font-size: 1rem;
  position: relative;
  margin-bottom: 0.5rem;
}

.map-popup h1:after {
  position: absolute;
  content: '';
  height: 2px;
  bottom: 0;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 100%;
  background: rgba(175, 175, 175, 0.6);
}

.popup-properties {
  list-style-type: none;
  padding: 0;
}

.popup-properties li,
.popup-text-container div p {
  color: rgb(158, 158, 158);
  padding: 0;
  font-weight: 200;
  font-size: 0.8rem;
}

.popup-properties li strong,
.popup-text-container div p strong {
  font-weight: bold;
}
/*fix: override del padding para cuando se hace el build*/
.mapboxgl-popup-content {
  padding: 10px 10px 15px !important;   
}

.no-delitos {
  display: inline-block;
  max-width: 200px;
}
