<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        iframe {
        border: none;
        }
    </style>
</head>
<body>
    <div style="display: flex; justify-content: flex-start; padding: 0 30px;">
        <h1>Consultas Boti Triage</h1>
    </div>


    <div style="display:flex; justify-content: space-around; width: 80%; height: 500px; margin: 0 auto;">
        <iframe
            width="350"
            src="{{ base_url }}render_indicador/consultas_boti_triage_acumulado">
        </iframe>
<!--        <iframe-->
<!--            width="350"-->
<!--            src="{{ base_url }}render_indicador/consultas_boti_triage_porcentaje">-->
<!--        </iframe>-->
        <iframe
            width="350"
            src="{{ base_url }}render_indicador/consultas_boti_triage_evolucion">
        </iframe>
    </div>
    <div style="display:flex; margin: 0 auto;">
        <iframe
        width="1000"
        height="500"
        src="{{ base_url }}render_indicador/test_dona">
        </iframe>
    <iframe
        width="1000"
        height="500"
        src="{{ base_url }}render_indicador/consultas_boti_triage_grafico_barras">
    </iframe>
    </div>
    <div style="display:flex; justify-content: center; margin: 0 auto;">
        <iframe
        width="1000"
        height="500"
        src="{{ base_url }}render_indicador/consultas_boti_triage_grafico_lineas">
    </iframe>
    </div>
</body>
</html>
