/**
* BAstrap v3.1 (http://gcba.github.io/BAstrap/)
* Copyright 2012-2015
* Direccion General de Gobierno Electronico
* Gobierno de la Ciudad de Buenos Aires
* Licenciado bajo MIT (https://gcba.github.io/BAstrap/LICENSE)
*/

/*@import url("fonts.css");*/

/*  OpenSans
  * ======================================================================= */

  @import 'https://fonts.googleapis.com/css?family=Open+Sans:400,700';

/*  Chanewei
* ======================================================================= */

  @font-face {
    font-family: "CHANEWEI";
    src: url("fonts/CHANEWEI.eot");
    src: url("fonts/CHANEWEI.eot?#iefix") format("embedded-opentype"), 
        url("fonts/CHANEWEI.svg#Gotham") format("svg"), 
        url("fonts/CHANEWEI.woff") format("woff"), 
        url("fonts/CHANEWEI.ttf") format("truetype");
    font-weight: normal;
    font-style: normal; 
  }

/*  Bootstrap Icons
* ======================================================================= */
  @font-face {
    font-family: 'Glyphicons Halflings';
    src: url("fonts/glyphicons-halflings-regular.eot");
    src: url("fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), 
        url("fonts/glyphicons-halflings-regular.woff") format("woff"), 
        url("fonts/glyphicons-halflings-regular.ttf") format("truetype"), 
        url("fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg"); 
  }

/*  BAstrap Icons
* ======================================================================= */
  @font-face {
    font-family: "bastrap-icons";
    src:url("fonts/bastrap-icons.eot");
    src:url("fonts/bastrap-icons.eot?#iefix") format("embedded-opentype"),
    url("fonts/bastrap-icons.woff") format("woff"),
    url("fonts/bastrap-icons.ttf") format("truetype"),
    url("fonts/bastrap-icons.svg#bastrap-icons") format("svg");
    font-weight: normal;
    font-style: normal;
  }


/* =============================================================================
*  Tipografía
* =========================================================================== */
    
  /*  Estructura
  * ======================================================================= */

    html {
      background-color: #111;
      height: 100%;
    }
    html.no-footer {
      background-color: #FFF;
    }

    body {
      background-color: #fff;
    }

    .main-container {
      padding-top: 48px;
      padding-bottom: 96px;
    }
    .main-container.no-padding-top {
      padding-top: 0;
    }

    hr {
      border-top: 1px solid #ccc;
      margin-top: 23px;
      margin-bottom: 24px;
    }

    .hrblank {
      border-color: transparent;
      margin-top: 15px;
      margin-bottom: 15px;
    }

    .anchor {
      display: block;
    }

  /*  Fonts config
  * ======================================================================= */ 

    .panel-title,
    .btn,
    .navbar-brand {
      font-family: "CHANEWEI", Helvetica, Arial, sans-serif;
      letter-spacing: -0.3px; 
    }

  /*  Encabezado
  * ======================================================================= */

    h1,
    .h1 {
      font-size: 2.3em;
    }

    h2,
    .h2 {
      font-size: 2em;
    }
    
    h3,
    .h3 {
      font-size: 1.4em;
    }

    h4,
    .h4 {

    }

    h5,
    .h5 {

    }

    h6,
    .h6 {

    }

    h1,
    .h1,
    h2,
    .h2,
    h3,
    .h3 {
      font-family: "CHANEWEI", Helvetica, Arial, sans-serif;
      letter-spacing: -0.5px;
    }

    h4,
    .h4,
    h5,
    .h5,
    h6,
    .h6{
      font-family: "OpenSans", Helvetica, Arial, sans-serif !important;
      font-weight: 700;
    }

    @media (max-width: 767px) {
      h1, .h1 {
        font-size: 2em;
    
    }
      h2, .h2 {
        font-size: 1.7em;
    
    }
      h3, .h3 {
        font-size: 1.4em;
    
    }
      h4, .h4 {
        font-size: 1.2em;
    
    }
    }
